services:
  - name: abc
    endpoint: http://192.168.10.120
    method: GET
    body:
    maxErrorCount: 3
    checkInterval: 4
    consecutiveNotificationDelay: 100
    timeout: 30

  - name: evident
    endpoint: https://www.evidentbd.com/
    method: GET
    maxErrorCount: 3
    checkInterval: 4
    consecutiveNotificationDelay: 100
    timeout: 30

slack_url: